/*  your css code here. If applicable */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.testimonial-container {
  padding: 20px;
  background-color: #f4f4f4;
}

.testimonial {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
}

.author {
  text-align: right;
  font-style: italic;
}
